/*==============================================
    Contact One  
===============================================*/
.contact-one {
    position: relative;
    display: block;
    padding: 120px 0 0px;
    z-index: 1;
}

.contact-one__shape-1 {
    position: absolute;
    top: -100px;
    left: -20px;
    opacity: 0.05;
    z-index: -1;
}

.contact-one__shape-1 img {
    width: auto;
}

.contact-one__shape-2 {
    position: absolute;
    width: 481px;
    height: 448px;
    right: -221px;
    bottom: 0;
    background: rgba(110, 84, 243, 0.12);
    filter: blur(150px);
    border-radius: 50%;
    z-index: -1;
}

.contact-one__left {
    position: relative;
    display: block;
    margin-top: 100px;
}

.contact-one__img-and-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-one__img {
    position: relative;
    display: block;
}

.contact-one__img img {
    width: 100%;
    border-radius: var(--itzone-bdr-radius);
}

.contact-one__content {
    position: relative;
    display: block;
    flex: 1;
}

.contact-one__call-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
}

.contact-one__call-box .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--itzone-base);
    border-radius: 50%;
}

.contact-one__call-box .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--itzone-white);
}

.contact-one__call-box .content {
    position: relative;
    display: block;
}

.contact-one__call-box .content h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.contact-one__call-box .content h3 a {
    color: var(--itzone-black);
}

.contact-one__call-box .content h3 a:hover {
    color: var(--itzone-base);
}

.contact-one__right {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: -10px 0px 60px 0px rgba(0, 0, 0, 0.07);
    border-radius: var(--itzone-bdr-radius);
    padding: 43px 50px 50px;
    margin-left: 20px;
}

.contact-one__form {
    position: relative;
    display: block;
}

.contact-one__input-box {
    position: relative;
    display: block;
    margin-bottom: 23px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.contact-one__input-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 7px;
    color: var(--itzone-black);
}

.contact-one__input-box input[type="text"],
.contact-one__input-box input[type="email"] {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(var(--itzone-black-rgb), .10);
    padding-left: 15px;
    padding-right: 45px;
    outline: none;
    font-size: 16px;
    color: var(--itzone-gray);
    display: block;
    font-weight: 400;
    border-radius: var(--itzone-bdr-radius);
    line-height: 50px;
    position: relative;
    display: block;
    z-index: 1;
}

.contact-one__input-box textarea {
    position: relative;
    height: 120px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(var(--itzone-black-rgb), .10);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 45px;
    outline: none;
    font-size: 16px;
    color: var(--itzone-gray);
    display: block;
    font-weight: 400;
    border-radius: var(--itzone-bdr-radius);
    margin-bottom: 0;
}

.contact-one__input-box.text-message-box {
    height: 120px;
    margin-bottom: 23px;
}

.contact-one__btn-box {
    position: relative;
    display: block;
}

.contact-one__btn-box .thm-btn {
    border: none;
}

.contact-one__input-icon {
    position: absolute;
    top: 14px;
    right: 16px;
}

.contact-one__input-icon span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: var(--itzone-gray);
}

/*==============================================
    Contact Two
===============================================*/
.contact-two {
    position: relative;
    display: block;
    padding: 120px 0 0;
    z-index: 1;
}

.contact-two__inner {
    position: relative;
    display: block;
    background-color: var(--itzone-base);
    border-radius: var(--itzone-bdr-radius);
    padding: 80px 80px 80px;
    overflow: hidden;
    z-index: 1;
}

.contact-two__bg-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.contact-two__img-1 {
    position: absolute;
    bottom: 0;
    right: 80px;
    animation: topBottom 3s ease-in-out infinite;
    z-index: -1;
}

.contact-two__img-1 img {
    width: auto;
}

.contact-two__inner .section-title {
    margin-bottom: 30px;
}

.contact-two__inner .section-title__tagline {
    color: var(--itzone-white);
}

.contact-two__inner .section-title__tagline:before {
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 155, 1) 0%, rgba(255, 255, 255, 1) 83%);
}

.contact-two__inner .section-title__tagline::after {
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 155, 1) 0%, rgba(255, 255, 255, 1) 83%);
}

.contact-two__inner .section-title__title {
    color: var(--itzone-white);
}

.contact-two__btn-box {
    position: relative;
    display: inline-block;
}

.contact-two__btn-box .thm-btn {
    background-color: var(--itzone-black);
}

.contact-two__btn-box .thm-btn:hover {
    color: var(--itzone-black);
}

.contact-two__btn-box .thm-btn::before {
    background-color: var(--itzone-white);
}

.contact-two__btn-box .thm-btn::after {
    background-color: rgba(var(--itzone-white-rgb), .30);
}

/*--------------------------------------------------------------
# contact Three
--------------------------------------------------------------*/
.contact-three {
    position: relative;
    display: block;
    padding: 120px 0 0px;
    background: #F0F4FF;
    background: linear-gradient(180deg, rgba(240, 244, 255, 0.78) 0%, rgba(240, 244, 255, 0) 100%);
    z-index: 1;
}

.contact-three__bg-color {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    width: calc((100% - -344px) / 2);
    background-color: rgba(var(--itzone-base-rgb), 1);
    clip-path: polygon(57% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.contact-three__bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-three__left {
    position: relative;
    display: block;
}

.contact-three__left .section-title {
    margin-bottom: 22px;
}

.contact-three__contact-list {
    position: relative;
    display: block;
    max-width: 430px;
    width: 100%;
    margin-top: 30px;
}

.contact-three__contact-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    border: 1px solid rgba(var(--itzone-black-rgb), .10);
    border-radius: var(--itzone-bdr-radius);
    gap: 20px;
    padding: 19px 20px 13px;
}

.contact-three__contact-list li+li {
    margin-top: 15px;
}

.contact-three__contact-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--itzone-base);
    border-radius: var(--itzone-bdr-radius);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.contact-three__contact-list li:hover .icon {
    background-color: var(--itzone-black);
}

.contact-three__contact-list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: var(--itzone-white);
}

.contact-three__contact-list li .content {
    position: relative;
    display: block;
    flex: 1;
}

.contact-three__contact-list li .content span {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: capitalize;
}

.contact-three__contact-list li .content p {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--itzone-black);
    margin-top: 1px;
}

.contact-three__contact-list li .content p a {
    color: var(--itzone-black);
}

.contact-three__contact-list li .content p a:hover {
    color: var(--itzone-base);
}

.contact-three__sliding-text-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    width: fit-content;
}

.contact-three__sliding-text-list li {
    position: relative;
    display: flex;
    float: left;
    margin-left: 60px;
}

.contact-three__sliding-text-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 150px;
    line-height: 1.5em;
    font-weight: 700;
    font-family: var(--itzone-font-two);
    font-style: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(110, 84, 243, .10) 0%, rgba(110, 84, 243, 0) 67.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.contact-three__right {
    position: relative;
    display: block;
}

.contact-three__img-1 {
    position: absolute;
    bottom: -25px;
    left: -174px;
    z-index: 1;
}

.contact-three__img-1 img {
    width: auto;
}

.contact-three__right .contact-one__right {
    margin-left: 0;
}

.contact-three__right .contact-one__btn-box {
    text-align: center;
}

.contact-three__right .contact-one__btn-box .thm-btn {
    max-width: 400px;
    width: 100%;
}


/*--------------------------------------------------------------
# Contact Info
--------------------------------------------------------------*/
.contact-info {
    position: relative;
    display: block;
    padding: 120px 0 90px;
    z-index: 1;
}

.contact-info__single {
    position: relative;
    display: block;
    border-radius: var(--itzone-bdr-radius);
    background-color: var(--itzone-extra);
    text-align: center;
    padding: 40px 40px 41px;
    margin-bottom: 30px;
}

.contact-info__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: var(--itzone-white);
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1;
}

.contact-info__icon:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-radius: 50%;
    background-color: var(--itzone-black);
    transform: scale(0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    z-index: -1;
}

.contact-info__single:hover .contact-info__icon:before {
    transform: scaleX(1);
}

.contact-info__icon span {
    position: relative;
    display: inline-block;
    font-size: 32px;
    color: var(--itzone-black);
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.contact-info__single:hover .contact-info__icon span {
    transform: scale(0.9);
    color: var(--itzone-white);
}


.contact-info__single p {
    margin-top: 20px;
    margin-bottom: 5px;
}

.contact-info__single h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: var(--itzone-black);
    font-family: var(--itzone-font);
}

.contact-info__single h3 a {
    color: var(--itzone-black);
}

.contact-info__single h3 a:hover {
    color: var(--itzone-base)
}


/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact-page {
    position: relative;
    display: block;
    padding: 0 0 120px;
    z-index: 1;
}

.contact-page__inner {
    position: relative;
    display: block;
    background-color: var(--itzone-black);
    border-radius: var(--itzone-bdr-radius);
    padding: 60px 0 60px;
    z-index: 1;
}

.contact-page__bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .30;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.contact-page__left {
    position: relative;
    display: block;
    margin-left: 60px;
    margin-right: 10px;
}

.google-map__one {
    position: relative;
    display: block;
    border: none;
    height: 519px;
    width: 100%;
    border-radius: var(--itzone-bdr-radius);
}

.contact-page__right {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-right: 40px;
}

.contact-page__form-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -1.44px;
    color: var(--itzone-white);
    margin-bottom: 26px;
}

.contact-page__form {
    position: relative;
    display: block;
}

.contact-page__input-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.contact-page__input-box input[type="text"],
.contact-page__input-box input[type="email"],
.contact-page__input-box input[type="number"] {
    height: 60px;
    width: 100%;
    background-color: rgba(var(--itzone-white-rgb), 0.03);
    border: 1px solid rgba(var(--itzone-white-rgb), .10);
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(var(--itzone-white-rgb), .70);
    display: block;
    border-radius: var(--itzone-bdr-radius);
}

.contact-page__input-box textarea {
    font-size: 16px;
    color: rgba(var(--itzone-white-rgb), .70);
    height: 175px;
    width: 100%;
    background-color: rgba(var(--itzone-white-rgb), 0.03);
    border: 1px solid rgba(var(--itzone-white-rgb), .10);
    padding: 15px 20px 30px;
    border-radius: var(--itzone-bdr-radius);
    outline: none;
    font-weight: 400;
    position: relative;
    display: block;
}

.contact-page__input-box.text-message-box {
    height: 175px;
}


.contact-page__btn-box {
    position: relative;
    display: block;
}

.contact-page__btn-box .thm-btn {
    border: none;
}

.contact-page__btn-box .thm-btn:hover {
    color: var(--itzone-black);
}

.contact-page__btn-box .thm-btn::before {
    background-color: var(--itzone-white);
}

.contact-page__btn-box .thm-btn::after {
    background-color: rgba(var(--itzone-white-rgb), .30);
}






/*==============================================
    End 
===============================================*/